<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <title>Plagiarism Seeker</title>

    <!-- Vendor CSS Files -->
    <link href="{% static 'Plagiarism_Seeker/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'Plagiarism_Seeker/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css" rel="stylesheet"
        type="text/css" />
    <link href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_arrows.min.css"
        rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Template Main CSS File -->
    <link href="{% static 'Plagiarism_Seeker/assets/css/style.css' %}" rel="stylesheet">

    <style>
        th,
        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a href="index.html" class="logo d-flex align-items-center">
                <img src="{% static 'Plagiarism_Seeker/assets/img/tempsnip.png' %}" style="border-radius: 50%;" alt="">
                <span>Plagiarism Seeker</span>
            </a>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">About</a></li>
                    <li><a class="nav-link scrollto" href="#services">Services</a></li>
                    <li><a class="nav-link scrollto" href="#database">Database</a></li>
                    <li><a class="getstarted scrollto" href="#values">Get Started</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h1 data-aos="fade-up">Review your questions to see that accidental plagiarism doesn’t creep up on
                        your students!</h1>
                    <div data-aos="fade-up" data-aos-delay="600">
                        <div class="text-center text-lg-start">
                            <a href="#values"
                                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                                <span>Get Started</span>
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                    <img src="{% static 'Plagiarism_Seeker/assets/img/hero-img.png' %}" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">
        <!-- ======= Values Section ======= -->
        <section id="values" class="values">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>Our Goal</h2>
                    <p>To help you check for plagiarised questions on the internet.</p>
                </header>

                <div class="row justify-content-center">
                    <div class="col-lg-4 mt-4 mt-lg-0 ">
                        <div class="box" data-aos="fade-up" data-aos-delay="600">
                            <img src="{% static 'Plagiarism_Seeker/assets/img/values-3.png' %}" class="img-fluid"
                                alt="">
                            <h3>Secure and quick processed output.</h3>
                            <p>Upload your questions or images to get checked for plagiarised content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Values Section -->

        <!-- Plagiarism section -->
        <div class="container">
            <div class="row d-flex justify-content-center mt-200"> <button id="launchModalBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Launch Modal To Add Question </button> </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Questions</h5> <button type="button"
                                class="close" data-dismiss="modal" aria-label="Close"> <span
                                    aria-hidden="true">&times;</span> </button>
                        </div>
                        <div class="modal-body">
                            <form id="question_form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <ul>
                                    <li style="width: 50%;"><a href="#step-1">Step 1<br /><small>Question</small></a></li>
                                    <li style="width: 50%;"><a href="#step-2">Step 2<br /><small>Image If Required</small></a></li>
                                </ul>
                                <h6 id="question_error" class="mt-2"></h6>
                                <div class="mt-4">
                                    <div id="step-1">
                                        <div class="row">
                                            <div class="col-md-12"><input id="question_id" type="text"
                                                    class="form-control" name="question"
                                                    placeholder="Enter your question here"></div>
                                        </div>
                                    </div>
                                    <div id="step-2">
                                        <div class="row">
                                            <div class="col-md-12"><input id="image_id" type="file" class="form-control"
                                                    name="image"></div>
                                        </div>
                                        <div class="text-right mt-4">
                                            <button type="button" class="sw-btn-add btn btn-primary">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of plagiarism -->

        {% if question_result %}
        <div id="question_result" class="px-lg-4">
            <section class="values p-0 mt-5">
                <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <p>Plagiarism Result For Question!</p>
                    </header>
                </div>
            </section><!-- End Values Section -->

            <table class="table table-hover result" data-aos="fade-up">
                <thead>
                    <tr>
                        <th width="85%" scope="col">Sources</th>
                        <th width="15%" scope="col">Percent Plagiarism</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for key,value in question_result.items %}
                        {% if key == 'sources' %}
                        <td>
                            <table class="table table-hover mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col">URL</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Matches</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for key,value in value.0.items %}
                                        {% if key == 'matches' %}
                                        <td>
                                            <table class="table table-hover mt-5">
                                                <tr>
                                                    <th>Input Start</th>
                                                    <th>Input End</th>
                                                    <th>Match Text</th>
                                                    <th>Context</th>
                                                    <th>Score</th>
                                                </tr>
                                                <tr>
                                                    {% for key,value in value.0.items %}
                                                    <td>{{ value }}</td>
                                                    {% endfor %}
                                                </tr>
                                            </table>
                                        </td>
                                        {% else %}
                                        <td>{{ value }}</td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        {% else %}
                        <td>{{ value }} %</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if image_result %}
        <div id="image_result" class="px-lg-4">
            <section class="values p-0 mt-5">
                <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <p>Plagiarism Result For Image!</p>
                    </header>
                </div>
            </section><!-- End Values Section -->

            <table class="table table-hover px-lg-2 result" data-aos="fade-up">
                <thead>
                    <tr>
                        <th scope="col">Sources</th>
                        <th scope="col">Percent Plagiarism</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for key,value in image_result.items %}
                        {% if key == 'sources' %}
                        <td>
                            <table class="table table-hover mt-5">
                                <thead>
                                    <tr>
                                        <th scope="col">URL</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Matches</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        {% for key,value in value.0.items %}
                                        {% if key == 'matches' %}
                                        <td>
                                            <table class="table table-hover mt-5">
                                                <tr>
                                                    <th>Input Start</th>
                                                    <th>Input End</th>
                                                    <th>Match Text</th>
                                                    <th>Context</th>
                                                    <th>Score</th>
                                                </tr>
                                                <tr>
                                                    {% for key,value in value.0.items %}
                                                    <td>{{ value }}</td>
                                                    {% endfor %}
                                                </tr>
                                            </table>
                                        </td>
                                        {% else %}
                                        <td>{{ value }}</td>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        {% else %}
                        <td>{{ value }} %</td>
                        {% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        <div id="database" class="px-lg-4">
            <section class="values p-0 mt-5">
                <div class="container" data-aos="fade-up">
                    <header class="section-header">
                        <p>Database</p>
                    </header>
                </div>
            </section><!-- End Values Section -->

            <table class="table table-hover px-lg-2 result" data-aos="fade-up">
                <thead>
                    <tr>
                        <th scope="col">Question</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if database %}
                    {% for data in database %}
                    <tr>
                        <td id="question-{{ data.id }}" class="text-left">{{ data.question }}</td>
                        <td>
                            {% if data.image %}
                            <a href="{{ data.image.url }}">
                                <img width="120px" height="120px" src="{{ data.image.url }}" alt="Question Image">
                            </a>
                            {% else %}
                            {% endif %}
                        </td>
                        <td>
                            <a data-toggle="modal" data-target="#exampleModal" href="{% url 'UpdateQuestion' data.id %}">
                                <img onclick="editQuestion('{{ data.id }}');" width="25px" height="25px" class="mx-2"
                                    src="{% static 'Plagiarism_Seeker/assets/img/icons8-edit-64.png' %}" alt="Edit">
                            </a>
                            <a href="{% url 'DeleteQuestion' data.id %}">
                                <img width="25px" height="25px" class="mx-2 deletequestion"
                                    src="{% static 'Plagiarism_Seeker/assets/img/icons8-delete-64.png' %}" alt="Delete">
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="3">No Data Available!</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">
                <div class="row gx-0">
                    <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up"
                        data-aos-delay="200">
                        <div class="content">
                            <h3>About Us</h3>
                            <h2>Our AI technology looks for potential issues with phrases that are identical,
                                similar and even paraphrased,
                                ensuring that your papers are always 100% plagiarism-free.</h2>
                            <p>
                                We support all major file formats including png, jpeg, gif and many more. Our technology
                                scans the text in each file and checks if any identical or similar content has been
                                found.
                            </p>
                            <div class="text-center text-lg-start">
                                <a href="#values"
                                    class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                                    <span>Get Started</span>
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                        <img src="{% static 'Plagiarism_Seeker/assets/img/lol.jpg' %}" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </section><!-- End About Section -->

        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">
                <header class="section-header">
                    <h2>Services</h2>
                    <p>Key features and services of this website</p>
                </header>

                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-box blue">
                            <img width="60px" height="60px"
                                src="{% static 'Plagiarism_Seeker/assets/img/file-text-fill.svg' %}"
                                alt="File-Text-Fill">
                            <h3 class="mt-4">Text Plagiarism Seeker</h3>
                            <p>Text Plagiarism Seeker detect the identical or similar content and shows the percentage
                                of duplicate content and original content.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-box orange">
                            <img width="60px" height="60px"
                                src="{% static 'Plagiarism_Seeker/assets/img/image-line.png' %}" alt="Image-Line">
                            <h3 class="mt-4">Image Text Plagiarism Seeker</h3>
                            <p>Image Text Plagiarism Seeker detect the correct text from an image and checks Plagiarism
                                into it.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-box green">
                            <img width="60px" height="60px"
                                src="{% static 'Plagiarism_Seeker/assets/img/file-list-3-line.svg' %}"
                                alt="File-List-3-Line">
                            <h3 class="mt-4">List of Unique Question set</h3>
                            <p>List of Unique Question set Stored in the Database</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Services Section -->

        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="row gy-4">
                        <div class="col-lg-5 col-md-12 footer-info">
                            <a href="index.html" class="logo d-flex align-items-center">
                                <img src="{% static 'Plagiarism_Seeker/assets/img/tempsnip.png' %}"
                                    style="border-radius: 50%;" alt="">
                                <span>Plagiarism Seeker</span>
                            </a>
                            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna
                                derita
                                valies darta donna mare fermentum iaculis eu non diam phasellus.</p>

                        </div>

                        <div class="col-lg-2 col-6 footer-links">
                            <h4>Useful Links</h4>
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
                                <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
                                <li><i class="bi bi-chevron-right"></i> <a href="#services">Services</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-2 col-6 footer-links"></div>

                        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                            <h4>Contact Us</h4>
                            <p>
                                Shivaji Nagar <br>
                                Pune, 411001<br>
                                India <br><br>
                                <strong>Phone:</strong> 8637123284<br>
                                <strong>Email:</strong> info@example.com<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer><!-- End Footer -->

        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="{% static 'Plagiarism_Seeker/assets/vendor/aos/aos.js' %}"></script>
        <script src="{% static 'Plagiarism_Seeker/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'Plagiarism_Seeker/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js"></script>

        <!-- Template Main JS File -->
        <script src="{% static 'Plagiarism_Seeker/assets/js/main.js' %}"></script>

        <script>
            const editQuestion = (id) => {
                const questionId = document.getElementById(`question-${id}`);
                const modalQuestion = document.getElementById('question_id');
                modalQuestion.value = questionId.innerHTML;
    
                const questionForm = document.getElementById('question_form');
                questionForm.action = `/update/${id}/`;
            }
        </script>
</body>

</html>
